/ nav class="nav"
/   a class="nav-link active" aria-current="page" href="#" Active
/   a class="nav-link" href="#" Link
/   a class="nav-link" href="#" Link
/   a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" Disabled
