- content_for :global_styles, @setting.style_content unless @setting.style.nil?

.content
  = html_content @product, @product.template.nil? ? @setting.product_template.content : @product.template.content