// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rte";
@import "admin";

:root {
  --sidebarWidth: 300px;
}

.hide, .hidden { display: none; }

// ------------------------------------------------

.admin-page .content {
  width: calc(100% - var(--sidebarWidth));
  min-height: 100vh;
  padding: 1em;
}

.admin-page .sidebar_front,
.admin-page .sidebar_back {
  width: var(--sidebarWidth) !important;
}

.admin-page .nav a,
.admin-page .nav a:hover,
.admin-page .nav a:focus,
.admin-page .nav a:active { color: #fff; }

// ------------------------------------------------

.upload-form {
  border-radius: 8px;
  border: 1px solid #aaa;
  width: 350px;
}

.flash {
  position: absolute;
  right: 2em;
  bottom: 1em;

  z-index: 9001;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

// USERS

.user_avatar {
  height: 250px;
  width: 250px;
}
