.rte_helper{
  padding-top: 30px;
  border-radius: 5px;
  min-height: 100px;
  position: relative;
  overflow: hidden;
  border: 1px dashed #bbb;
}
.rte_helper_label {
  background: #bbb;
  color: #555;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  left: 0;
  top: 0;
}
.rte_attribute{
  border: 1px dashed #aaa;
  background: #eee;
  padding-left: 3px;
  padding-right: 3px;
}


.rte_submit,
.result_content {
  visibility: collapse !important;
  height:0 !important;
  overflow: hidden !important;
}

.rte_control {
  width: 100%;
  min-height: 100vh;
}

.rteblock.active{
  border: 1px dashed red !important;
}

/* SIDEBAR */

.rte_sidebar {
  width: 350px;
  z-index: 1040 !important;
}

.sidebar_wrapper::-webkit-scrollbar {
  width: 0px;
}

.sidebar_wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rteblock, .rte_file, .rte_bi,
.rte_bt li {
  cursor: pointer;
}

/* ------------------------------------------------------ */

.rte_filemanager {
  height: 90vh;
  width: 90%;
  position: absolute;
  left: 5%;
  top: 5vh;

  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  background: #fff;
  overflow: hidden;

  z-index: 1060;
}

.rte_filemanager.fullscreen {
  min-height: 100vh;
  width: 100%;
  position: relative;
  box-shadow: unset;
  border-radius: 0px;
  left: 0;
  top: 0;
}

.rte_filemanager .wrapper{
  display: flex;
  height: 100%;
  width: 100%;
}

.rte_filemanager .sidebar {
  min-width: 300px;
  max-width: 300px;
  border-left: 1px solid #ccc;
  padding: 1em;
}

.rte_filemanager.fullscreen .sidebar {
  width: 500px;
}

.rte_filemanager .content {
  width: 100%;
  padding: 2em;
  overflow-y: auto;
}

.rte_file {
  cursor: pointer;
  padding: 2px;
  text-decoration: none;
}

.rte_file .fwr {
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: hidden;
}

.rte_file i {
  display: inline-block;
  width: 100%;
  font-size: 70px;
  text-align: center;
  color: #1f2324;
}

.rte_file p {
  text-align: center;
  color: #1f2324;
  margin-bottom: 0;
}

.rte_file.active .fwr,
.rte_file:hover .fwr{
  border: 1px solid #1f2324;
}


.cde_editor {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  width: 100%;
}
.cdewrapper {
  height: 100vh;
  width: 100%;
}
.cdewrapper .cdeheader {
  padding: 0.5rem;
  background: #141617;
  color: white;
  border-bottom: 1px solid #1f2324;
}
.cdewrapper .cdebody {
  height: 100%;
}
.cdewrapper .cdeheader .btn-close {
  background-color: #fff;
}